<div class="box-header no-border" style="height: 30px; margin-top: 15px;">
    <h3 id="pagemessage" class="box-title">Project Tracker</h3>
    <div class="alert alert-success pull-right text-black" [hidden]="isHidden" style="margin-left: 5px; margin-bottom: 0 !important; padding-left: 10px !important; padding-right: 10px !important; padding-bottom: 3px !important;  padding-top: 3px !important;">
        <span>{{ viewModel.Message }}</span>
    </div>
    <div class="alert alert-danger pull-right" [hidden]="isErrorHidden" style="margin-bottom: 0 !important; padding-left: 10px !important; padding-right: 10px !important; padding-bottom: 3px !important;  padding-top: 3px !important;">
        <span>{{ viewModel.ErrorMessage }}</span>
    </div>
</div>
<div class="box-body" *ngIf="viewModel.IsInListMode()">
    <div class="col-xs-12">
        <button id="addnew" event-focus="click" event-focus-id="ProjectId" (click)="viewModel.NewCommand()" *ngIf="viewModel.CanExecuteNewCommand()" class="btn btn-primary pull-left" title="Add New Project">+ Add New Project</button>
        <label class="pull-right" style="padding-top: 12px !important;">
            Items Per Page
            <select id="quantity" (ngModel)="projectGrid.ItemsPerPage" (ngModelChange)="projectGrid.FirstCommand()">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
            </select>
        </label>
        <a *ngIf="projectGrid.ItemsPerPage > 20" href="#bottom" target="_self" title="Jump to Bottom" class="btn btn-primary"><span class="fa fa-level-down" style="margin: 0px 3px 0px 1px !important; padding: 3px !important;"></span></a><a name="top"></a>
    </div>
    <table id="projects" class="table table-striped table-hover table-responsive no-border">
        <thead>
            <tr id="sortrow" class="bg-info DNABorderBottom">
                <th class="col-xs-3">
                    <a href="#" (click)="projectGrid.SortCommand('ProjectName')">
                        Project Name
                        <span *ngIf="projectGrid.Sort == 'ProjectName'" class="glyphicon glyphicon-sort pull-right"></span>
                    </a><br />
                    <input (ngModel)="projectGridFilter.ProjectName" type="search" (ngModelChange)="projectGrid.FirstCommand()" style="width: 100% !important;" />
                </th>
                <th class="col-xs-1">
                    <a href="#" (click)="projectGrid.SortCommand('StartDate')">
                        Start Date
                        <span *ngIf="projectGrid.Sort == 'StartDate'" class="glyphicon glyphicon-sort pull-right"></span>
                    </a><br />
                    <input (ngModel)="projectGridFilter.StartDate" type="search" (ngModelChange)="projectGrid.FirstCommand()" style="width: 100% !important;" />
                </th>
                <th class="col-xs-1">
                    <a href="#" (click)="projectGrid.SortCommand('ProjectEndDate')">
                        End Date
                        <span *ngIf="projectGrid.Sort == 'ProjectEndDate'" class="glyphicon glyphicon-sort pull-right"></span>
                    </a><br />
                    <input (ngModel)="projectGridFilter.ProjectEndDate" type="search" (ngModelChange)="projectGrid.FirstCommand()" style="width: 100% !important;" />
                </th>
                <th class="col-xs-2">
                    <a href="#" (click)="projectGrid.SortCommand('ProjectOwner')">
                        Project Owner
                        <span *ngIf="projectGrid.Sort == 'ProjectOwner'" class="glyphicon glyphicon-sort pull-right"></span>
                    </a><br />
                    <input (ngModel)="projectGridFilter.ProjectOwner" type="search" (ngModelChange)="projectGrid.FirstCommand()" style="width: 100% !important;" />
                </th>
                <th class="col-xs-2">
                    <a href="#" (click)="projectGrid.SortCommand('ProjectManager')">
                        Project Manager
                        <span *ngIf="projectGrid.Sort == 'ProjectManager'" class="glyphicon glyphicon-sort pull-right"></span>
                    </a><br />
                    <input (ngModel)="projectGridFilter.ProjectManager" type="search" (ngModelChange)="projectGrid.FirstCommand()" style="width: 100% !important;" />
                </th>
                <th class="col-xs-2">
                    <a href="#" (click)="projectGrid.SortCommand('ProjectPhaseName')">
                        Project Phase
                        <span *ngIf="projectGrid.Sort == 'ProjectPhaseName'" class="glyphicon glyphicon-sort pull-right"></span>
                    </a><br />
                    <input (ngModel)="projectGridFilter.ProjectPhaseName" type="search" (ngModelChange)="projectGrid.FirstCommand()" style="width: 100% !important;" />
                </th>
                <th class="col-xs-1">
                    <a href="#" (click)="projectGrid.SortCommand('ProjectStatusName')">
                        Project Status
                        <span *ngIf="projectGrid.Sort == 'ProjectStatusName'" class="glyphicon glyphicon-sort pull-right"></span>
                    </a><br />
                    <input (ngModel)="projectGridFilter.ProjectStatusName" type="search" (ngModelChange)="projectGrid.FirstCommand()" style="width: 100% !important;" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of viewModel.List.AllProjects">
                <td>
                    <a href="#" title="View/Edit" event-focus="click" event-focus-id="ProjectName" (click)="viewModel.SelectProject(project)"><strong>{{ project.ProjectName }}</strong></a>
                </td>
                <td>{{ project.FormattedStartDate() }}</td>
                <td>{{ project.FormattedEndDate() }}</td>
                <td>{{ project.ProjectOwner }}</td>
                <td>{{ project.ProjectManager }}</td>
                <td>{{ project.ProjectPhaseName }}</td>
                <td>{{ project.ProjectStatusName }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="bg-info">
                <th>Project Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Owner</th>
                <th>Project Manager</th>
                <th>Project Phase</th>
                <th>Project Status</th>
            </tr>
        </tfoot>
    </table>

<!-- 
    <div id="pagination" class="btn-group pull-right" style="margin-top: 5px !important;">
        <button (click)="projectGrid.FirstCommand()" [disabled]="!projectGrid.CanExecuteFirstCommand()" class="btn btn-default"><span class="glyphicon glyphicon-fast-backward"></span> First</button>
        <button (click)="projectGrid.PrevCommand()" [disabled]="!projectGrid.CanExecutePrevCommand()" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Prev</button>
        <button (click)="projectGrid.LeftEllipseCommand()" *ngIf="projectGrid.CanExecuteLeftEllipseCommand()" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal"></span></button>
        <button *ngFor="let n of projectGrid.PageNumbers()" (click)="projectGrid.PageCommand(n)" [disabled]="!projectGrid.CanExecutePageCommand(n)" (innerHtml)="n+1" class="btn btn-default"></button>
        <button (click)="projectGrid.RightEllipseCommand()" *ngIf="projectGrid.CanExecuteRightEllipseCommand()" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal"></span></button>
        <button (click)="projectGrid.NextCommand()" [disabled]="!projectGrid.CanExecuteNextCommand()" class="btn btn-default">Next <span class="glyphicon glyphicon-step-forward"></span></button>
        <button (click)="projectGrid.LastCommand()" [disabled])="!projectGrid.CanExecuteLastCommand()" class="btn btn-default">Last <span class="glyphicon glyphicon-fast-forward"></span></button>
    </div>
-->
</div>
<div *ngIf="viewModel.IsInDetailMode()">
    <div class="box-body">
        <br />
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li id="tab1" [ngClass]="viewModel.Detail.IsInRecordMode() ? 'active' : 'bg-gray-light'"><a href="#" (click)="viewModel.Detail.RecordCommand()" title="Project" [class.disabled]="!viewModel.Detail.CanExecuteRecordCommand()"><strong>Project: </strong>{{viewModel.Detail.Project.ProjectName}}</a></li>
            </ul>
            <div class="tab-content">
                <div class="margin" *ngIf="viewModel.Detail.IsInRecordMode()" id="recordform">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-12" style="margin-top: 25px;">
                        <form #projectForm="ngForm">
                            <div class="form-group">
                                <label>Project Name</label>
                                <input [ngModel]="viewModel.Detail.Record.Project.ProjectName" type="text" class="form-control" placeholder="..." [disabled]="viewModel.Detail.Record.IsInUpdateMode() ? 'disabled' : ''" id="ProjectName" maxlength="50" required="required" name="projectname">
                            </div>
                            <div class="form-group">
                                <label>Project Owner</label>
                                <input [(ngModel)]="viewModel.Detail.Record.Project.ProjectOwner" type="text" class="form-control" placeholder="..." id="ProjectOwner" maxlength="50" name="ProjectOwner">
                            </div>
                            <div class="form-group">
                                <label>Project Manager</label>
                                <input [(ngModel)]="viewModel.Detail.Record.Project.ProjectManager" type="text" class="form-control" placeholder="..." id="projectmanager" maxlength="50" name="projectmanager">
                            </div>
                            <div class="form-group">
                                <label>Project Type</label>
                                <select [(ngModel)]="viewModel.Detail.Record.Project.ProjectTypeId" class="form-control" name="projecttype" id="projecttype" required="required">
                                    <option *ngFor="let item of viewModel.Detail.Record.AllTypes" [value]="item.ProjectTypeId">{{ item.ProjectTypeName }}</option>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Project Start Date</label>
                                <input (ngModel)="viewModel.Detail.Record.Project.StartDate" type="date" class="form-control" placeholder="..." id="projectstartdate" name="projectstartdate" value="{{ viewModel.Detail.Record.Project.FormattedStartDate() }}">
                            </div>
                            <div class="form-group">
                                <label>Project End Date</label>
                                <input (ngModel)="viewModel.Detail.Record.Project.ProjectEndDate" type="date" class="form-control" placeholder="..." id="projectenddate" name="projectenddate" value="{{ viewModel.Detail.Record.Project.FormattedEndDate() }}">
                            </div>
                            <div class="form-group">
                                <label>Overall Percent Complete</label>
                                <input [(ngModel)]="viewModel.Detail.Record.Project.OverallPercentComplete" type="number" class="form-control" placeholder="..." id="overallpercentcomplete" maxlength="3" name="percentcomplete">
                            </div>
                            <div class="form-group">
                                <label>Current Project Phase</label>
                                <select [(ngModel)]="viewModel.Detail.Record.Project.ProjectPhaseId" class="form-control" name="projectphase" id="projectphase" required="required">
                                    <option *ngFor="let item of viewModel.Detail.Record.AllPhases" [value]="item.ProjectPhaseId">{{ item.ProjectPhaseName }}</option>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Current Phase Estimated End Date</label>
                                <input (ngModel)="viewModel.Detail.Record.Project.PhaseEndDate" type="date" class="form-control" placeholder="..." id="phaseenddate" name="phaseenddate" value="{{ viewModel.Detail.Record.Project.FormattedPhaseEndDate() }}">
                            </div>
                            <div class="form-group">
                                <label>Current Phase Percent Complete</label>
                                <input [(ngModel)]="viewModel.Detail.Record.Project.PhasePercentComplete" type="number" class="form-control" placeholder="..." id="phasepercentcomplete" maxlength="3" name="phasepercentcomplete">
                            </div>
                            <div class="form-group">
                                <label>Project Status</label>
                                <select [(ngModel)]="viewModel.Detail.Record.Project.ProjectStatusId"  class="form-control" name="projectstatus" id="projectstatus" required="required" >
                                    <option *ngFor="let item of viewModel.Detail.Record.AllStatuses" [value]="item.ProjectStatusId">{{ item.ProjectStatusName }}</option>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Internal IT Project?</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" 
                                        name="isinternal" 
                                        id="internalyes" 
                                        name="internalyes" 
                                        [(ngModel)]="viewModel.Detail.Record.Project.IsInternalIT"
                                        [value]="true" [required]="true">
                                        Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" 
                                        name="isinternal" 
                                        id="internalno" 
                                        name="internalno" 
                                        [(ngModel)]="viewModel.Detail.Record.Project.IsInternalIT" 
                                        [value]="false" [required]="true">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Waiting on Others? (Add Details In Comments)</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" 
                                        name="iswaiting" 
                                        id="waitingyes"
                                        name="waitingyes" 
                                        [(ngModel)]="viewModel.Detail.Record.Project.IsWaiting" 
                                        [value]="true" [required]="true">
                                        Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" 
                                        name="iswaiting" 
                                        id="waitingno" 
                                        name="waitingno" 
                                        [(ngModel)]="viewModel.Detail.Record.Project.IsWaiting" 
                                        [value]="false" [required]="true">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea [(ngModel)]="viewModel.Detail.Record.Project.Comments" type="text" class="form-control" placeholder="..." id="comments" maxlength="500" required="required" name="comments"></textarea>
                            </div>
                            <div class="form-group" id="formbuttons">
                                <button id="save" (click)="viewModel.Detail.Record.SaveCommand(projectForm)" *ngIf="(viewModel.Detail.Record.CanExecuteSaveCommand() || viewModel.Detail.Record.CanExecuteEditCommand() && projectForm.form.valid)" type="submit" class="btn btn-danger">Save</button>
                                <button id="cancel" type="button" class="btn btn-primary" (click)="viewModel.CloseCommand('Modifications to the project have been cancelled')" title="Close" [disabled]="!viewModel.CanExecuteCloseCommand()">Cancel</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-lg-1"></div>

                </div>
            </div>
        </div>
    </div>
</div>